<h1>Adicionar conta</h1>
<form action="/contas/gravar" method="POST">
    <div class="form-group">
        <label>Nome</label>
        <input type="text" name="nome" />
    </div>
    <div class="form-group">
        <label>Valor</label>
        <input type="text" name="valor" />
    </div>
    <div class="form-group">
        <label>Qtd Parcelas</label>
        <input type="text" name="qtdParcelas" />
    </div>
    <div class="input-group mb-4">
            <div class="input-group-prepend">
                <label class="input-group-text">Tipo</label>
            </div>
        <select class="custom-select" name="tipo">
            <option value="pagar">Pagar</option>
            <option value="receber">Receber</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="gravar">
    </div>
</form>