<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Registros de WOD</h1>
    <p class="mb-4">Banco de dados de Wods</p>

    <div class="row">
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">WOD#1</h6>
                </div>
                <div class="card-body">
                    <h6 class="m-0 font-weight-bold text-primary">Warm up</h6>
                    <ul>
                        <li>50 Jump jack / S.U</li>
                        <li>50 Alternating</li>
                    </ul>
                    <hr></hr>
                    <h6 class="m-0 font-weight-bold text-primary">Mobility</h6>
                    <ul>
                        <li>2' Mob. lib.artic de ombro c/ barra</li>
                        <li>2' Mob. Extensão ombro na parede</li>
                    </ul>
                    <!-- <p class="mb-0">Before working with this themsse, you should become familiar with the Bootstrap framework, especially the utility classes.</p> -->
                </div>
            </div>    
        </div>
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">WOD#2</h6>
                </div>
                <div class="card-body">
                    <h6 class="m-0 font-weight-bold text-primary">Warm up</h6>
                    <ul>
                        <li>50 Jump jack / S.U</li>
                        <li>50 Alternating</li>
                    </ul>
                    <hr></hr>
                    <h6 class="m-0 font-weight-bold text-primary">Mobility</h6>
                    <!-- <p class="mb-0">Before working with this themsse, you should become familiar with the Bootstrap framework, especially the utility classes.</p> -->
                </div>
            </div>    
        </div>
    </div>
</div>