<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>Notícias</title>
</head>

<body>

    <h1>MySQL com NodeJS</h1>
    <table border="1">
        <thead>
            <th>id</th>
            <th>Cliente</th>
            <th>email</th>
        </thead>
        <tbody>
            <% for(var i=0; i < noticias.length;i++){ %>
                <tr>
                    <td>
                        <%= noticias[i]["id_cliente"]%>
                    </td>
                    <td>
                        <%= noticias[i]["nome_fantasia_cli"]%>
                    </td>
                    <td>
                        <%= noticias[i]["email_cli"]%>
                    </td>
                </tr>
                <%  } %>
        </tbody>
    </table>
</body>

</html>