<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="iso8859-1" />
    <title>Portal de not&iacute;cias</title>
</head>

<body>

    <h1>Bem vindo a p&aacute;gina inicial</h1>

</body>

</html>