<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="iso8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Portal de not&iacute;cias</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />

</head>

<body>
    <div class="container">
        <h1>Bem vindo a p&aacute;gina inicial</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
            </ol>
        </nav>
    </div>
</body>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js" />

</html>