<%- contentFor('body') %>
    <div class="container">
        <h1>Controle de Contas</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
            </ol>
        </nav>
        <div class="container">
            <a href="/conta/adicionar"><img src="/icones/adicionar_icon_256.png" width="128" height="128" class="rounded float-left mx-auto d-block icon" title="contas" /></a>
            <a href="/planilhas"><img src="/icones/planilha_icon_256.png" width="128" height="128" class="rounded float-left mx-auto d-block icon" title="planilha" /></a>
        </div>
    </div>