<div class="container mt-3">
    <div class="row bg-secondary">
        <div class="col-sm">id</div>
        <div class="col-sm">conta</div>
        <div class="col-sm">parcela</div>
        <div class="col-sm">valor</div>
    </div>
    <% for(var i=0; i < contas.length;i++){ %>
        <div class="row">
            <div class="col-sm">
                <%= contas[i]["id"]%>
            </div>
            <div class="col-sm">
                <%= contas[i]["nome"]%>
            </div>
            <div class="col-sm">
                <%= contas[i]["numeroparcela"]%>
            </div>
            <div class="col-sm">
                <%= contas[i]["valorparcela"]%>
            </div>
        </div>
        <%  } %>
</div>