
<!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Registro de Contas</h1>
            <p class="mb-4">Informação sobre contas registradas a pagar.</p>
  
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Contas a pagar</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered dataTable-js" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Conta</th>
                        <th>Parcelas</th>
                        <th>Valor</th>
                        <th>Tipo</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Name</th>
                        <th>Conta</th>
                        <th>Parcelas</th>
                        <th>Valor</th>
                        <th>Tipo</th>
                      </tr>
                    </tfoot>
                    <tbody>
                            <tr>
                                <td>
teste                                </td>
                                <td>
                                    tadasd
                                </td>
                                <td>
                                    asjdaskj
                                </td>
                                <td>
                                    askjdhka
                                </td>
                                <td>
ashjda                                </td>
                            </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
  
          </div>
          <!-- /.container-fluid -->