<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Curso NodeJS</title>
    <link rel="shortcut icon" href="/icones/node_icon_256.png" type="image/x-icon" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
</head>
<style>
    .icon:hover {
        cursor: pointer;
    }
</style>

<body>
    <header>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contas">Contas</a></li>
                    <li class="nav-item"><a class="nav-link" href="/planilhas">Planilha mensal</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <%- body %>
        </div>
    </main>
    <footer>
    </footer>
</body>
<script type="text/javascript" src="/jquery/dist/jquery.slim.min.js"></script>
<script type="text/javascript" src="/bootstrap-4.0.0/dist/js/bootstrap.bundle.js"></script>

</html>